<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./template/header') %>
</head>
<body>
    <nav class='navbar'>
        <div class="wrapper">
            <div class="navbar__logo">
                Just A Bite!
            </div>
            <ul class="navbar__list">
                <li><a href="#">抽個大獎</a></li>
                <li><a href="#">我要點餐</a></li>
                <li><a href="#">查詢訂單</a></li>
                <li><a href="#">常見問題</a></li>
                <li class="active"><a href="/logout">登出</a></li>
            </ul>
        </div>
    </nav>
    <section class='banner'>
        <div class="informations">
          <table>
            <tr>
                <th>獎項</th>
                <th>圖片網址</th>
                <th>說明</th>
                <th>機率</th>
                <th>管理</th>
            </tr>
            <tr>
              <form action="/handleEdit/<%= prize.id %>" method='POST' class="blogs__login">
                <td><input type="text" name="prizeName" value="<%= prize.prizeName %>"></td>
                <td><input type="text" name="Url" value="<%= prize.Url %>"></td>
                <td><input type="text" name="content" value="<%= prize.content %>"></td>
                <td><input type="text" name="probability" value="<%= prize.probability %>"></td>
                <td><input type="submit" value="修改"></td>
              </form>
            </tr>     
            <%=  errorMessage %>
        </table>
        </div>
    </section>
    <footer>
        <div class="footer__top">
            <div class="wrapper">
                <div class="footer_info">
                    <div>餐館地址: 天上地下天堂路三分之一里六段520號</div>
                    <div>訂位專線：02-1314-5566</div>
                    <div>營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息</div>
                    <div>email：service@justabite.com.tw</div>
                </div>
                <div>
                    <div class="footer-site">Just A BITE!</div>
                    <div>Facebook / Instagram / Youtube</div>
                </div>
            </div>                
        </div>
        <div class="footer__bottom">
            Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有   
        </div>
    </footer>
</body>
</html>