<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/header') %>
    <script src="ckeditor/ckeditor.js"></script>
    <title>blog</title>
</head>
<body>
    <nav class="header__nav">
        <%- include('../template/nav') %>
    </nav>
    <section class="banner">
            <div>存放技術之地-後台</div>
            <div>Welcome to my blog</div>
    </section>
    <div class="blogs__container">
        <div class="posts">
            <% posts.forEach((post) => { %>
                <div class="admin__header">
                    <%= post.title %>
                    <div class="admin__action">
                            <%= moment(post.createdAt).format('MMMM Do YYYY, h:mm:ss a') %>
                            <a class="post__action" href="/edit/<%= post.id %>">編輯</a>
                            <a class="post__action" href="/delete/<%= post.id %>">刪除</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>    
    <footer>
      Copyright © 2020 Who's Blog All Rights Reserved.
    </footer> 
</body>
</html>